ALTER TABLE items ADD COLUMN IF NOT EXISTS knowledge INTEGER DEFAULT 0;
ALTER TABLE items ADD COLUMN IF NOT EXISTS strength INTEGER DEFAULT 0;
ALTER TABLE items ADD COLUMN IF NOT EXISTS magic INTEGER DEFAULT 0;
ALTER TABLE items ADD COLUMN IF NOT EXISTS agility INTEGER DEFAULT 0;
ALTER TABLE items ADD COLUMN IF NOT EXISTS vitality_bonus INTEGER DEFAULT 0;
